<!--ROLE VIEWS-->
@{
    ViewData["Title"] = "Discover Page";
}

<style>
    .special-heading {
        font-size: 30px;
        color: #003300;
    }
</style>

<div class="py-3 bg-light">
    <div class="container">
        <h3 class="special-heading">See what's new...</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <img src="~/images/reckless.jpg" class="bd-placeholder-img card-img-top" width="90%" height="300" alt="Book Cover Image">
                    <div class="card-body">
                        <h3 class="card-title">Reckless</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/books/details" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <span class="text-muted" style="font-size: 16px;">Lauren Roberts</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <img src="~/images/gold.jpg" class="bd-placeholder-img card-img-top" width="90%" height="300" alt="Book Cover Image">
                    <div class="card-body">
                        <h3 class="card-title">Gold</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/books/details" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <span class="text-muted" style="font-size: 16px;">Raven Kennedy</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <img src="~/images/fakemate.jpg" class="bd-placeholder-img card-img-top" width="90%" height="300" alt="Book Cover Image">
                    <div class="card-body">
                        <h3 class="card-title">The Fake Mate</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/books/details" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <span class="text-muted" style="font-size: 16px;">Lana Ferguson</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <img src="~/images/theendlesswar.jpg" class="bd-placeholder-img card-img-top" width="90%" height="300" alt="Book Cover Image">
                    <div class="card-body">
                        <h3 class="card-title">The Endless War</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/books/details" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <span class="text-muted" style="font-size: 16px;">Danielle L. Jensen</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <img src="~/images/roma.jpg" class="bd-placeholder-img card-img-top" width="90%" height="300" alt="Book Cover Image">
                    <div class="card-body">
                        <h3 class="card-title">Maldita Roma (Serie Julio César 2)</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/books/details" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <span class="text-muted" style="font-size: 16px;">Santiago Posteguillo</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <img src="~/images/invisibleman.jpg" class="bd-placeholder-img card-img-top" width="90%" height="300" alt="Book Cover Image">
                    <div class="card-body">
                        <h3 class="card-title">The Invisible Man</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/books/details" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <span class="text-muted" style="font-size: 16px;">H. G. Wells</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <img src="~/images/junglebook.jpg" class="bd-placeholder-img card-img-top" width="90%" height="300" alt="Book Cover Image">
                    <div class="card-body">
                        <h3 class="card-title">The Jungle Book</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/books/details" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <span class="text-muted" style="font-size: 16px;">Rudyard Kipling</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <img src="~/images/treasureisland.jpg" class="bd-placeholder-img card-img-top" width="90%" height="300" alt="Book Cover Image">
                    <div class="card-body">
                        <h3 class="card-title">Treasure Island</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/books/details" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <span class="text-muted" style="font-size: 16px;">Robert Louis Stevenson</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>