@{
    ViewData["Title"] = "Books Page";
}
<div class="text-center">
    <h1 class="display-4">Crime</h1>
</div>

<style>
    h1.display-4 {
        font-size:4rem;
        font-weight: bold;
        color: #003300;
        border-bottom: 3px solid #003300;
    }
</style>

<div class="py-3 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <img src="~/images/crime.jpg" class="bd-placeholder-img card-img-top" width="90%" height="300" alt="Book Cover Image">
                    <div class="card-body">
                        <h3 class="card-title">The Psychology of Crime</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/books/details" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <span class="text-muted" style="font-size: 16px;">Philip Feldman</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <img src="~/images/unraveled.jpg" class="bd-placeholder-img card-img-top" width="90%" height="300" alt="Book Cover Image">
                    <div class="card-body">
                        <h3 class="card-title">Unraveled</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/books/details" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <span class="text-muted" style="font-size: 16px;">Karim H. Vellani</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <img src="~/images/fear.jpg" class="bd-placeholder-img card-img-top" width="90%" height="300" alt="Book Cover Image">
                    <div class="card-body">
                        <h3 class="card-title">The Fear of Crime</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/books/details" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <span class="text-muted" style="font-size: 16px;">Jason Ditton</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <img src="~/images/adolescent.jpg" class="bd-placeholder-img card-img-top" width="90%" height="300" alt="Book Cover Image">
                    <div class="card-body">
                        <h3 class="card-title">Adolescent Crime</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/books/details" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <span class="text-muted" style="font-size: 16px;">Per-Olof H. Wikström</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <img src="~/images/analysis.jpg" class="bd-placeholder-img card-img-top" width="90%" height="300" alt="Book Cover Image">
                    <div class="card-body">
                        <h3 class="card-title">Applied Crime Analysis</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/books/details" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <span class="text-muted" style="font-size: 16px;">Wayne Petherick</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <img src="~/images/handbook.jpg" class="bd-placeholder-img card-img-top" width="90%" height="300" alt="Book Cover Image">
                    <div class="card-body">
                        <h3 class="card-title">Handbook of Crime Prevention and Community Safety</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/books/details" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <span class="text-muted" style="font-size: 16px;">Nick Tilley</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <img src="~/images/encylopedia.jpg" class="bd-placeholder-img card-img-top" width="90%" height="300" alt="Book Cover Image">
                    <div class="card-body">
                        <h3 class="card-title">Encyclopedia of Crime and Punishment</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/books/details" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <span class="text-muted" style="font-size: 16px;">David Levinson</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <img src="~/images/jukes.jpg" class="bd-placeholder-img card-img-top" width="90%" height="300" alt="Book Cover Image">
                    <div class="card-body">
                        <h3 class="card-title">The Jukes: A Study of Crime, Pauperism, Disease and Heredity</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/books/details" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <span class="text-muted" style="font-size: 16px;">Richard Louis Dugdale</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
