<!--ROLE VIEW, navbar'da basınca bu sayfa açılıyor-->
@using Microsoft.AspNetCore.Identity
@using ASP.NETCoreIdentityCustom.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var userName = UserManager.GetUserName(User);
}

<style>
    /* Profil sayfasının üst kısmının stilini belirle */
    .profile-header {
        background-color: #fcfcfa; /* Arka plan rengi */
        color: #003300; /* Metin rengi */
        padding: 20px; /* Kenar boşluğu */
        text-align: center;

        /* Gölge ekleme */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); /* x-offset, y-offset, blur radius, color */
    }

    /* Profil resmi stilini belirle */
    .profile-picture {
        width: 100px; /* Resim genişliği */
        height: 100px; /* Resim yüksekliği */
        border-radius: 50%; /* Daire şeklinde köşeler */
        object-fit: cover; /* Resmi kapsayan bir nesne olarak görüntüle */
    }

    /* İsim ve soyisim stilini belirle */
    .user-name {
        margin-top: 15px; /* İsimin üstündeki boşluk */
        font-size: 25px; /* Metin boyutu */
        font-weight: 700;
    }

    /* İki yan yana konteynerın stilini belirle */
    .container-box {
        display: flex; /* Yatay hizalama için */
        justify-content: space-between; /* İki konteyner arasında boşluk bırak */
        margin-top: 25px; /* Konteynerların üstündeki boşluk */
    }

        /* Konteynerların içindeki stil */
        .container-box .container {
            flex: 1; /* Eşit genişlikte */
            padding: 20px; /* Kenar boşluğu */
            border: 1px solid #f0f0f0; /* Sınır rengi */
            margin-right: 10px; /* Sağ kenar boşluğu */
            background-color: #fcfcfa; /* Arka plan rengi */
            text-align: left;
        }

    .special-heading {
        font-size: 22px;
        color: #003300;
    }

    .icon {
        width: 35px; /* İkon genişliği */
        height: 35px; /* İkon yüksekliği */
    }

</style>

<div class="profile-header">
    <img class="profile-picture" src="~/images/profilepage2.png" alt="Profile Picture">
    <div class="user-name">@userName</div>
</div>

<div class="container-box">
    <div class="container">
        <h2 class="special-heading">
            <img src="~/images/favourites_icon.png" alt="Icon" class="icon"> Favourite Books
        </h2>
        <div class="row">
            <div class="col-md-13">
                <div class="card mb-4 shadow-sm">
                    <img src="~/images/ağ1.png" class="bd-placeholder-img card-img-top" width="90%" height="300" alt="Book Cover Image">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/books/details" class="btn btn-sm btn-outline-secondary style="background-color: #003300;">View details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>

    <div class="container">
        <h2 class="special-heading">
            <img src="~/images/savedlist_icon.png" alt="Icon" class="icon"> Saved List
        </h2>
                <div class="row">
                    <div class="col-md-13">
                        <div class="card mb-4 shadow-sm">
                        <img src="~/images/ağ2.png" class="bd-placeholder-img card-img-top" width="90%" height="300" alt="Book Cover Image">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="/books/details" class="btn btn-sm btn-outline-secondary">View details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>