<!--welcome to booklib, giriş sayfamız-->
@{
    ViewData["Title"] = "BookLib";
}

<div style="display: flex; align-items: center; height: 100vh;">
    <div style="flex: 1; text-align: center; color: #556B2F">
        <h1 style="font-weight: bold; font-size: 3vw;"> Welcome to </h1>
            <style> p {margin-bottom: 2vw;} </style> 
        <h1 style="font-weight: bold; font-size: 4vw;"> BookLib❤️ </h1>

        <style>
            p {
                margin-bottom: 5vw; /* İstenilen boşluk büyüklüğünü ayarlayama */
            }
        </style>

        <p>
            <h3 style="font-weight: normal; font-size: 2vw; color: #000000;">Keep track of the books from different genres that you love.</h3>
        </p>
    </div>

    <div style="display: flex; align-items: flex-start; height: 70vh;">
        <div style="flex: 1; text-align: right;">
            <img src="https://img.freepik.com/free-vector/hand-drawn-flat-design-stack-books_23-2149334860.jpg?t=st=1701770035~exp=1701770635~hmac=4a1a4765132f36a2ac16610f02e140a5e390dd26a32ca097c15025bbc043a2bf" style="max-width:85%; height:auto;" />
        </div>
    </div>

</div>